html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.welcome-page {
  background: url(../assets/backgrounds/h_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
}

.welcome {
  text-align: center;
  position: absolute;
  top: 34%;
  left: 27%;
}

.welcome-page h1,
.welcome-page p,
.welcome-page img {
  color: white;
}

.logo {
  margin-bottom: 30px;
}

.footer {
  height: 100px;
  width: 100%;
  bottom: 0;
  position: relative;
  text-align: center;
}

.footer p {
  padding: 0px;
  margin: 0px;
}

.socials {
  margin-top: 25px;
}

.socials img {
  padding: 7px;
}
